/* .parent {
  outline: 1px dotted red;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  flex: 1 1 300px; 
  flex: 0 1 300px; 
  margin: 5px;
} */

.parent {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
